# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
*.log

# Entorno local
.env

# Editores
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
